<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hundebarf.fundus">

    <!-- connection to database uses internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- barcode scanner uses camera and flashlight-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- check if in hundebarf wifi network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".FundusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".ItemSelectActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemInfoActivity"
            android:parentActivityName=".ItemSelectActivity" />
        <activity
            android:name=".ItemAddActivity"
            android:label="@string/activity_add_title"
            android:parentActivityName=".ItemSelectActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_login_title" />
    </application>

</manifest>