<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hundebarf.fundus" >

    <!-- barcode scanner uses camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- connection to database uses internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- check if in hundebarf wifi network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- use flashlight while scanning -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- account with username and password for database access -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".FundusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize" >
        <activity
            android:name=".ItemSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemInfoActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ItemSelectActivity" />
        <activity
            android:name=".ItemAddActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_add_title"
            android:parentActivityName=".ItemSelectActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_login_title"
            android:configChanges="orientation|screenSize" >
        </activity>
    </application>

</manifest>